   
<div>
  <nav class="nav-container">
    <div class="nav-item">About {{Name}}</div>
    <div class="nav-item">Projects</div>
    <div class="nav-item">Github</div>
    <div class="nav-item">Youtube</div>
  </nav>
  <div class="page-container">
    <div class="page-inner-content">
      <div id="section-container">
        <div id="section-header">Brief Intro</div>
        <div class="intro-paragraph">
          <p>Hello, this is Louis. I love Software Development and also eager to learn machine learning. 
          I also love doing yoga and spending time with my family members and my fur kids.</p>
          <p>I like to build stable and scalable products with great user experience.</p>
          
        </div>
      </div>
<div id="section-container">
  <div id="section-header">Programming Languages</div>
  <div class="grid-container">
    <div class="grid-item">JAVA</div>
    <div class="grid-item">SQL</div>
    <div class="grid-item">JavaScript</div>
    <div class="grid-item">TypeScript</div>
    <div class="grid-item">Python</div>
    <div class="grid-item">Shell script</div>
    <div class="grid-item">HTML</div>
    <div class="grid-item">CSS</div>
    <div class="grid-item">Dart</div>
  </div>
</div>
<div id="section-container">
  <div id="section-header">Tech Stacks</div>
  <div class="grid-container">
    <div class="grid-item">Spring Boot</div>
    <div class="grid-item">Oracle</div>
    <div class="grid-item">Jenkins</div>
    <div class="grid-item">Docker</div>
    <div class="grid-item">Kubernetes</div>
    <div class="grid-item">Angular</div>
    <div class="grid-item">Flutter</div>
    <div class="grid-item">Django</div>
    <div class="grid-item">JSP</div>
    <div class="grid-item">TensorFlow</div>
    <div class="grid-item">Selenium</div>
    <div class="grid-item">JMeter</div>
    <div class="grid-item">K6</div>
    <div class="grid-item">ActiveMQ</div>
    <div class="grid-item">Kafka</div>

  </div>
</div>
</div>

</div>
</div>